<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MRSES.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MRSES.Core.Properties.Settings.PostgresDBConnection"
            connectionString="Server=127.0.0.1; Port=8000; Database=mrs-schedule; User Id=postgres; Password=qwerty" />
    </connectionStrings>
    <userSettings>
        <MRSES.Core.Properties.Settings>
            <setting name="FirstDayOfWeek" serializeAs="String">
                <value>miércoles</value>
            </setting>
            <setting name="StoreLocation" serializeAs="String">
                <value>Hormigueros</value>
            </setting>
        </MRSES.Core.Properties.Settings>
    </userSettings>
</configuration>